body{
    font-family: 'Philosopher', sans-serif;
    font-size: large;
}
.header{
    background-color:#fde0dc;
    overflow: hidden;
}
.navbar{
    transition: all 0.2s;
    background-color: #d9eed1;
}
.dropdown-menu, .dropdown-item{
  cursor: pointer;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  padding: 0 20px;
  cursor: pointer;
}

.navbar span {
  position: relative;
  display: block;
  cursor: pointer;
}

.navbar span:before, span:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  top: 50%;
  margin-top: -0.5px;
  background: #000;
}

.navbar span:before {
  left: -2.5px;
}
.navbar span:after {
  right: 2.5px;
  background: #000;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.navbar span:hover:before {
  background: #000;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.navbar span:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}
.navbar-scrolled1 {
    background-color:#f9e6e4 ;
  }
.navbar-scrolled2 {
    background-color:#cad0e5 ;
  }
  .navbar-scrolled3 {
    background-color:#d9eed1 ;
  }
  .navbar-scrolled4 {
    background-color:#f9e6e4;
  }
  .navbar-scrolled5 {
    background-color:#D4D6ED ;
  }
.navbar-logo img{
     height: 40px;
     width: 40px;
     margin-left: 10px;
}
.navbar-toggler{
  background-color:#55cbcd ;
}
 .b1{
    background-image: url('./Images/border0.png');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
} 
#home{
  background-color: #cad0e5;
}
#aboutus{
  min-height: 100vh;
  max-height: 500vh;
}
#aboutus h1{
    font-size: 50px;
}
#aboutus{
  background-color: #cad0e5;
}
.about{
  outline: none;
  background-color:#d9eed1 ;
  border: solid 1px #55cbcd;
}
.border1{
  background-color: #cad0e5;
}
.info .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.info h2 {
  font-weight: 400;
}

.info .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
#activities{
  background-color: #d9eed1;
}
#activities h1{
  font-size: 50px;
}
#activities p{
  margin: 0;
  text-indent: 2rem;
  text-align: justify;
  font-size: 20px;
}
.act-divider {
  margin: 6rem 0;
}

.act-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
  text-align: center;
}

.item:hover {
  animation-name: hoverPop;
  animation-duration: 0.4s;
}

.item:hover::before {
  animation: slick-hover-2 3s 0.4s linear infinite;
  transform: translateY(-20px) translateX(-20px);
}

.item:hover::after {
  animation: slick-hover 3s 0.4s linear infinite reverse;
  transform: translateY(20px) translateX(20px);
}

@keyframes hoverPop {
  0%,
  100% {
    transform: scale(1);
  }
  33% {
    transform: scale(1.05);
  }
  66% {
    transform: scale(0.9);
  }
}

@keyframes slick-hover {
  0.00% {
    transform: translateY(20px) translateX(20px);
  }
  16.67% {
    transform: translateY(-13px) translateX(-9px);
  }
  33.33% {
    transform: translateY(4px) translateX(12px);
  }
  50.00% {
    transform: translateY(20px) translateX(-20px);
  }
  66.67% {
    transform: translateY(-3px) translateX(8px);
  }
  83.33% {
    transform: translateY(-15px) translateX(-11px);
  }
  100.00% {
    transform: translateY(20px) translateX(20px);
  }
}

@keyframes slick-hover-2 {
  0.00% {
    transform: translateY(-20px) translateX(-20px);
  }
  16.67% {
    transform: translateY(3px) translateX(-5px);
  }
  33.33% {
    transform: translateY(18px) translateX(-10px);
  }
  50.00% {
    transform: translateY(-20px) translateX(20px);
  }
}

.border2{
  background-color:#d9eed1 ;
}
#gallery{
  background-color: #f9e6e4;
}
#gallery h1{
  font-size: 50px;
}
.border3{
  background-color:#fde0dc;
}
  .carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 10px; 
    height: 10px; 
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
    border-radius: 250px;  
}
/*Highlights*/
.flip-card {
  background-color: transparent;
  width: 236px;
  height: 321px;
  perspective: 1000px;
  font-family: sans-serif;
}

.title {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: 0;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid coral;
  border-radius: 1rem;
}
/*luyo*/
 .flip-card-front {
  background-image: url(../fimages/back.png);
  background-size: cover;
  image-resolution: 1080hd;
  color: coral;
}
/* atubangan with pic */
 .cardpic1 {
  background-image: url('../fimages/card1.png');
  background-size: cover;
  color: black;
  transform: rotateY(180deg);
}
.cardpic2 {
  background-image: url('../fimages/card2.png');
  background-size: cover;
  color: black;
  transform: rotateY(180deg);
}   
.cardpic3 {
  background-image: url('../fimages/card3.png');
  background-size: cover;
  color: black; 
  transform: rotateY(180deg);
}   
.cardpic4 {
  background-image: url('../fimages/card4.png');
  background-size: cover;
  color: black;
  transform: rotateY(180deg);
}      
 
.border4{
  background-color:#D4D6ED;
}
#contacts{
  background-color:#D4D6ED;
}
#contacts h1{
  font-size: 50px;
}
.cont {
  background-color:#f9e6e4 ;
  border-radius: 25px;
  padding: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
}
/* start of form css */
.form {
  position: relative;
  padding: 20px;
  background-color: #f9e6e4 ;
  border-radius: 4px;
  color: #333;
  box-shadow: 0px 0px 60px 5px rgba(0, 0, 0, 0.4);
}
.form:after {
  position: absolute;
  content: "";
  right: -10px;
  bottom: 18px;
  width: 0;
  height: 0;
  border-left: 0px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #1a044e;
}
.form p {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 2x;
  line-height: 28px;
}
  .input,textarea {
  position: static;
  bottom: 30px;
  border: none;
  border-bottom: 1px solid #d4d4d4;
  padding: 10px;
  width: 82%;
  background: transparent;
  transition: all .25s ease;
}
input:focus , textarea:focus{
  outline: none;
  border-bottom: 1px solid #0d095e;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', 'sans-serif';
}
input:focus::placeholder, textarea:focus::placeholder  {
	color: transparent;
  }
textarea{
resize: none;
height: 140px;
overflow: hidden;
background-color: transparent;
}
label{
  text-align: left;
}
.submit-btn{
  outline: none;
  color: #dc904f;
  padding: 5em;
  border: 2px dashed #DAA06D;
  border-radius: 15px;
  background-color: #EADDCA;
  box-shadow: 0 0 0 4px #EADDCA, 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
  transition: .1s ease-in-out, .4s color;
}
.submit-btn:active {
  transform: translateX(0.1em) translateY(0.1em);
  box-shadow: 0 0 0 4px #c8a879, 1.5px 1.5px 2.5px 1.5px rgba(0, 0, 0, 0.5);
}
.submit-btn:hover{
  background-color:#d9eed1;
  color: #0d095e;
  font-weight: 600;
  transition: 1s;
}