*{
    scroll-behavior:smooth;
    transition: 1s;
}
body{
    font-family: 'Philosopher', sans-serif;
}
.header{
    background-color:#fde0dc;
    overflow: hidden;
}
.navbar{
    transition: all 0.2s;
    background-color: #d9eed1;
}
.navbar-scrolled1 {
    background-color:#f9e6e4 ;
  }
.navbar-scrolled2 {
    background-color:#cad0e5 ;
  }
  .navbar-scrolled3 {
    background-color:#d9eed1 ;
  }
  .navbar-scrolled4 {
    background-color:#f9e6e4;
  }
  .navbar-scrolled5 {
    background-color:#D4D6ED ;
  }
.navbar-logo img{
     height: 40px;
     width: 40px;
     margin-left: 10px;
}
.navbar-toggler{
  background-color:#55cbcd ;
}
 .b1{
    background-image: url('./Images/border0.png');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
} 
#home{
  background-color: #cad0e5;
}
#aboutus{
  min-height: 100vh;
  max-height: 500vh;
}
#aboutus h1{
    font-size: 50px;
}
#aboutus{
  background-color: #cad0e5;
}
.border1{
  background-color: #cad0e5;
}
.info .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.info h2 {
  font-weight: 400;
}

.info .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */
#activities{
  background-color: #d9eed1;
}
#activities h1{
  font-size: 50px;
}
#activities p{
  margin: 0;
  text-indent: 2rem;
  text-align: justify;
  font-size: 20px;
}
.ptoe{  /* ptoe means Periodic Table of Elements */
  height: 700px;
}
.featurette-divider {
  margin: 6rem 0;
  /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}
.border2{
  background-color:#d9eed1 ;
}
/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
#gallery{
  background-color: #f9e6e4;
}
#gallery h1{
  font-size: 50px;
}
.border3{
  background-color:#fde0dc;
}
  .carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 10px; 
    height: 10px; 
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
    border-radius: 250px;  
}

.flip-card {
  background-color: transparent;
  width: 236px;
  height: 371px;
  perspective: 1000px;
  font-family: sans-serif;
}

.title {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: 0;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid coral;
  border-radius: 1rem;
}
/* luyo */
.flip-card-front {
  background-image: url(./Images/card3.png);
  color: coral;
}
/* atubangan with pic */
.flip-card-back {
  background-image: url(./Images/card1.jpg);
     background-size:cover;
     background-repeat: no-repeat;
     background-position: center;
  color: white;
  transform: rotateY(180deg);
} 

.border4{
  background-color:#D4D6ED;
}
#contacts{
  background-color:#D4D6ED;
}
#contacts h1{
  font-size: 50px;
}
.cont {
  background-color:#f9e6e4 ;
  border-radius: 25px;
  padding: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.form {
  margin-top: 10px;
  flex-direction: column;
}

.group {
  position: relative;
}

.form .group label {
  font-size: 14px;
  color: #60605c;
  position: absolute;
  top: -10px;
  left: 10px;
  background-color: #f9e6e4;
  transition: all .3s ease;
}

.form .group input,
.form .group textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #020203;
  margin-bottom: 20px;
  outline: 0;
  width: 100%;
  background-color: transparent;
}

.form .group input:placeholder-shown+ label, .form .group textarea:placeholder-shown +label {
  top: 10px;
  background-color: transparent;
}

.form .group input:focus,
.form .group textarea:focus {
  border-color: #3366cc;
}

.form .group input:focus+ label, .form .group textarea:focus +label {
  top: -10px;
  left: 10px;
  background-color: #f9e6e4;
  color: #3366cc;
  font-weight: 600;
  font-size: 14px;
}

.form .group textarea {
  resize: none;
  height: 100px;
}

.form button {
  background-color: #d9eed1;
  color: #020203;
  border: 1px solid #020203;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.form button:hover {
  background-color: #27408b;
  color:#fff;
}
